@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #860707;
  height: 100vh;
}

.stu {
  position: absolute;
  left: 35%;
  font-size: 20px;
  transform: scale(1.5);
  transform: translate(4%, -10%);
  max-width: 100px;
  height: 50px;
  width: 240px;
  color: black;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 5%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
.stu: hover{
  color: white;
  background: black;
}

.fac {
  position: absolute;
  left: 50%;
  font-size: 20px;
  transform: translate(101%, -10%);
  max-width: 100px;
  height: 50px;
  width: 240px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 5%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  max-width: 420px;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-color: aqua;
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px #800000;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #800000;
  transition: 0.5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #800000;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #800000;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  border: none;
}

input[type="submit"]:hover {
  border-color: #800000;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #800000;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}